---
title: Page 2
kind: article
created_at: 2019-06-04
---


<% content_for(:comic) do %>
  <img src="/pages/page-2-1.png">
  <em>Comics are an adaptable medium, <br>you can mix them with other mediums whenever you need to</em>
  <img src="/pages/page-2-2.png">
<% end %>

<% content_for(:newspost) do %>
  <h2>Page 2</h2>
  <aside class='publish-date'><%= publish_time_tag %></aside>
  <p>If you want to get fancy, you can see that there are multiple images that make up this comic</p>
  <em>Heads up: page 3 won't have a newspost!</em>
<% end %>